/** Add css rules here for your application. */

.DirectoryPanel-BottomBar, .DirectoryPanel-title
{
	background-color: #3D85C6;
}

.gwt-Button.DirectoryPanel-add_dir, .gwt-Button.DirectoryPanel-add_task
{
	background-color: #3D85C6;
	padding-top: 1px;
	
}

.DirectoryPanel-ParentDirectory
{
	height: 18px;
	margin-bottom: 5px;
	background-color: #95B9DA;
	padding-left: 10px;
	padding-top: 2px;
	cursor: pointer;
}

.DirectoryPanel-LastParentDirectory
{
	background-color: #3D85C6;
}

.DirectoryPanel-ParentDirectory a, .DirectoryPanel-ParentDirectory a:visited, .DirectoryPanel-ParentDirectory a:hover
{
	color: #FFFFFF;
	text-decoration: none;
}

.DirectoryPanel-ChildDirectory
{
	height: 18px;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: #DADADA;
	padding-left: 10px;
	padding-top: 2px;
	cursor: pointer;
}

.DirectoryPanel-ChildDirectory a, .DirectoryPanel-ChildDirectory a:visited, .DirectoryPanel-ChildDirectory a:hover
{
	color: #000000;
	text-decoration: none;
}

.DirectoryPanel-ChildTask
{
	height: 18px;
	margin-bottom: 5px;	
	margin-right: 5px;
	background-color: #EBEBEB;
	padding-left: 10px;
	padding-top: 2px;
	cursor: pointer;
}

.DirectoryPanel-ChildTask a, .DirectoryPanel-ChildTask a:visited, .DirectoryPanel-ChildTasky a:hover
{
	color: #000000;
	text-decoration: none;
}

.MainPanel
{
	background-color: #3D85C6;
}

.TaskPanel
{
	background-color: #ffffff;
}
